<div ng-controller="SidebarCtrl" class="col-sm-2 doggy-sidebar">
  <p class="doggy-sidebar-group-lead">
  	<a href="/groups"><i class="fa fa-group"></i>Groups</a>
  </p>
  <ul class="doggy-sidebar-sublist">
  	<li ng-repeat="group in myGroups">{{group}}</li>
  	<li>
  		<input class="doggy-sidebar-add" ng-model="newGroup" placeholder=" + Group"/>
  	</li>
  </ul>

  <p class="doggy-sidebar-group-lead"> 
  	<a href="/pets"><i class="fa fa-paw"></i>Pets</a>
  </p>
  <ul class="doggy-sidebar-sublist">
  	<li ng-repeat="pet in myPets">
  		<a ng-href="/pets/{{pet._id}}">{{pet.name}}</a>
  	</li>
  	<li>
  		<input class="doggy-sidebar-add" ng-model="newPet" placeholder=" + Pet"/>
  	</li>
  </ul>
</div>